.CityWeatherInfo .current-city {
   font-size: 2rem;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.7);
 }
 .CityWeatherInfo .current-city .city {
   font-size: 2rem;
   transition: all 300ms ease-in-out;
 }
 .CityWeatherInfo .current-city .city:hover {
   font-size: 2.2rem;
   font-weight: 700;
 }
 
 .CityWeatherInfo .current-city .temperature {
   font-size: 3rem;
   padding: 0 0.4rem; 
 }
 
 .CityWeatherInfo canvas {
   vertical-align: bottom;
   position: relative;
 }
 
 .CityWeatherInfo .current-date {
   display: inline-block;
   width: 70%;
   margin-top: -10px;
   margin-bottom: 10px;
   font-size: 0.9rem;
   list-style: none;
   padding: 0;
   padding-top: 5px;
   border-top: 1px solid #d0d0d0;
   color: rgba(0, 0, 0, 0.7);
 }
 
 .CityWeatherInfo .weather-conditions {
   margin-top: 1rem;
   list-style: none;
   display: inline-block;
   padding: 5px 10px;
   font-size: 1.1rem;
   border-left: 1px solid #d0d0d0;
   color: rgba(0, 0, 0, 0.7);
 }
 
 .CityWeatherInfo .weather-conditions li:first-child::first-letter {
   margin-top: 10px;
   text-transform: capitalize;
 }