.CurrentWeather .current-city {
   font-size: 2rem;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.7);
 }
 .CurrentWeather .current-city .city {
   font-size: 2rem;
   transition: all 300ms ease-in-out;
 }
 .CurrentWeather .current-city .city:hover {
   font-size: 2.2rem;
   font-weight: 700;
 }
 
 .CurrentWeather .current-city .temperature {
   font-size: 3rem;
   padding-right: 0.5rem;
 }
 
 .CurrentWeather .main-icon {
   vertical-align: bottom;
   width: 90px;
   position: relative;
   top: 16px;
 }
 
 .CurrentWeather .current .active {
   color: rgba(0, 0, 0, 0.7);
   cursor: default;
 }
 
 .CurrentWeather sup {
   position: relative;
   left: -0.6rem;
   top: -1.5rem;
   font-size: 1rem;
 }
 .CurrentWeather a {
   text-decoration: none;
 }
 .CurrentWeather .fahrenheit::before {
   content: "";
   border-right: 1px solid #d0d0d0;
   padding-right: 5px;
   margin-right: 5px;
 }
 
 .CurrentWeather .current-date {
   display: inline-block;
   width: 70%;
   margin-top: -10px;
   margin-bottom: 10px;
   font-size: 0.9rem;
   list-style: none;
   padding: 0;
   padding-top: 5px;
   border-top: 1px solid #d0d0d0;
   color: rgba(0, 0, 0, 0.7);
 }
 
 .CurrentWeather .weather-conditions {
   margin-top: 1rem;
   list-style: none;
   display: inline-block;
   padding: 5px 10px;
   font-size: 1.1rem;
   border-left: 1px solid #d0d0d0;
   color: rgba(0, 0, 0, 0.7);
 }
 
 .CurrentWeather .weather-conditions li:first-child::first-letter {
   margin-top: 10px;
   text-transform: capitalize;
 }