.Forecast {
   margin-top: 25px;
   color: rgba(0, 0, 0, 0.7);
 }
 
 .Forecast .forecast-day {
   text-align: center;
 }
 
 .Forecast .forecast-day div {
   padding-bottom: 5px;
 }
 
 .Forecast .forecast-day-week {
   font-weight: 500;
 }
 
 .Forecast .forecast-max-temperature::after {
   content: "";
   border-right: 1px solid #d0d0d0;
   padding-right: 7px;
 }
 
 .Forecast .forecast-min-temperature {
   color: rgba(0, 0, 0, 0.6);
   padding-left: 7px;
 }
 
 .Forecast .forecast-icon img {
   width: 50px;
 }
 

 