 .Weather .weather-app-wrapper {
   max-width: 760px;
   display: block;
   margin: 50px auto 10px auto;
   text-align: left;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 30px;
   padding-right: 2.5rem;
   padding-left: 2.5rem;
   padding-bottom: 1.5rem;
   padding-top: 2.5rem;
   box-shadow: 8px 8px 10px rgb(88 100 126 / 0.5);
   overflow: hidden;
 }
 
 .Weather img {
   filter: drop-shadow(2px 1px 1px rgb(88 100 126)) contrast(120%);
 }
 
 .Weather .form-control {
   display: inline-block;
   width: 55%;
   margin-bottom: 1rem;
 }
 
 .Weather .form-control input:first-child {
   margin-right: 0.5rem;
   width: 21.3rem;
   font-size: 1rem;
   border-radius: 10px;
   border: 1px solid #d0d0d0;
   padding: 5px;
 }
 
 .Weather input::-ms-clear {
   display: none;
 }
 
 .Weather input::placeholder {
   padding-left: 5px;
   font-size: 1rem;
 }
 
 .Weather .btn-primary {
   margin-left: 0.5rem;
   margin-bottom: 4px;
   font-size: 1rem;
   background: rgba(255, 255, 255, 0.6);
   border: 1px solid #d0d0d0;
   border-radius: 12px;
   color: rgba(0, 0, 0, 0.7);
 }
 .Weather .btn-primary:hover {
   color: rgba(0, 0, 0, 0.7);
   background: rgba(255, 255, 255, 0.6);
 }
 
 .Weather .btn-primary .location {
   margin-left: 3.5rem;
 }


 .blocks-wrapper {
  display: block;
  margin: 0 auto;
}